
.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.turn-highlight{
    color: white;
}
.reset{
    background-color: blue;
    color: white;
    border-radius: 10%;
    padding: 15px 10px;
    border: 1px solid blue;
    font-size: 18px;
}
.reset:hover{
    cursor: pointer;
}